{% extends "base.html" %}
{% block start %}
<style>
  .recipe-image {
      width: 200px;
      height: 200px;
      object-fit: cover; /* This ensures that the aspect ratio is maintained and the image is cropped to fit the dimensions */
  }
  .logo {
            font-size: 42px; /* Makes the text big */
            font-weight: bold; /* Makes the text bold */
            font-family: 'Arial', sans-serif; /* Font style */
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  }
 /* No change on hover for the logo */
.logo:hover {
  background-color: inherit;
}

</style>

<nav class="navbar bg-body-tertiary">
<div class="navbar">
  <div>
      <a href="/" class="logo">Repi</a>
      <a style="color: #f9f9f9;">
        {{request.user}}</a>
  </div>
  <div class="nav-links">
    {%if request.user.is_authenticated %}
     <a href="/logout/" class="link" type="submit"><i class="fas fa-sign-in-alt icon"></i>logout</a>
    {% else %}
    <a href="/login/" class="link" type="submit"><i class="fas fa-sign-in-alt icon"></i>login</a>
    {% endif %}

    <a href="/edit-recepies/"><i class="fa-solid fa-pen-to-square"></i>&nbsp;Edit Recepies</a>
    <a href="/add-recepies/"><i class="fa-solid fa-plus"></i>&nbsp;Add Recipes</a>
  </div>
</div>
</nav>
<br>
<br>

<div class="mt-5">
  <form>
  <div class="mx-auto col-6">
    <label for="exampleInputEmail1" class="form-label">Search food</label>
          <input name="search" type="text" class="form-control">
          <button type="submit" class="btn btn-primary">Search</button>
  </div>
  </form>
</div>
<table class="table mt-5 table-bordered">
  <thead>
    <tr>
      <th scope="col">S.N</th>
      <th scope="col">Recipie Name</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <!-- <th scope="col">Action</th> -->
    </tr>
  </thead>
  <tbody>
    {% for recepie in recipie%}
    <tr>
      <th scope="row">{{forloop.counter}}</th>
      <td>{{recepie.recipie_name}}</td>
      <td>{{recepie.recipie_description}}</td>
      <!-- <td><img src="/media/{{recepie.recipie_image}}" style="height: 200px;"></td> -->
      <td><img src="/media/{{recepie.recipie_image}}" class="recipe-image"></td>
    </tr>
    {% endfor %}
  </tbody>
</div>
{% endblock %}